body {
    margin: 0px;
    padding: 0px;
}

#header {
    font-size: 20px;
    text-align: center; 
    font-family: 'Bowlby One SC', cursive;
    
    }

#wrapper {
    width:80%;
     margin: auto;
    display: flex;
    height: 100vh;
    flex-direction:row;
    justify-content: center;
    flex-flow: wrap;
    

  
}
#title {
    font-size:20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#formDiv {
      
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 40px;
    
}

#formDiv button {
    margin: 30px;
    background: #1e89d1;
    background-image: -webkit-linear-gradient(top, #1e89d1, #041824);
    background-image: -moz-linear-gradient(top, #1e89d1, #041824);
    background-image: -ms-linear-gradient(top, #1e89d1, #041824);
    background-image: -o-linear-gradient(top, #1e89d1, #041824);
    background-image: linear-gradient(to bottom, #1e89d1, #041824);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 17px;
    padding: 11px 23px 10px 20px;
    text-decoration: none;
}

#formDiv button:hover {
    background: #000508;
    background-image: -webkit-linear-gradient(top, #000508, #14a1ff);
    background-image: -moz-linear-gradient(top, #000508, #14a1ff);
    background-image: -ms-linear-gradient(top, #000508, #14a1ff);
    background-image: -o-linear-gradient(top, #000508, #14a1ff);
    background-image: linear-gradient(to bottom, #000508, #14a1ff);
    text-decoration: none;
  }


#getMyHoroscope {

    width: 100vw;
    height: 60vh;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#getMyHoroscope img {
    width: 60%;
    height: 60%;
    margin: auto;
}

#trueOrFalse {
    border: 3px solid black;
    align-self: flex-start;
    width: 20vw;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

@media screen and (max-width: 600px) {

   #getMyHoroscope {

    order: -1;

   }

   #formDiv button {
       margin: 10px;
       width: 240px;
   }
  
   input {
       width: 100px;
       border: 1px solid black;
   }

   #formDiv {
       padding: 1px;
   }
   #trueOrFalse {
       
       width: 60vw;
   }

}